* {
    margin: 0;
    border: 0;
    padding: 0;
}

#display {
    background: url(display/volodymyr-hryshchenko-x_OKGbxB3fA-unsplash\ \(1\).jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.head {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5%;
    color: aliceblue;
}

.message {
background-color: rgb(158, 163, 168);
color: rgb(0, 0, 0);
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 133%;
height: 77%;
width: 35%;
}

.add {
    background-color: rgba(233, 233, 233, 0.295);
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 133%;
    height: 77%;
    margin-left: 3px;
    cursor: pointer;
}

.body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 60%;
    color: aliceblue;
}

.list {
    list-style-type: none;
}

li {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 120%;
  max-height: 4%;
  width: 100%;
  border: solid white 3px;
  display: flex;
}


label {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 111%;
    text-align: center;
    padding: 5px 6px;
    flex: 7;
}

label:hover {
    background-color: rgba(240, 248, 255, 0.378);
}

input:hover {
    background-color: rgba(171, 164, 164, 0.496);
}

button:hover {
    background-color: rgba(171, 164, 164, 0.121);
}

.delBtn {
    background-color: #d33838;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    flex: 2;
}

.delBtn:hover {
    background-color: rgb(117, 16, 16);
    margin-left: 5px;
}

.checked {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 5px 15px;
    background-color: rgb(167, 85, 85);
    border-radius:3%;
}

.checked:checked {
    background-color: rgb(102, 208, 88); 
}